#allServersContainer {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 100%;
    /* background-color: #36393f; */
}

.serverCard {
    z-index: 1;
    background-color: #2f3136;
    height: 320px;
    width: 245px;
    border-radius: 12px;
    position: relative;
    transition-property: box-shadow, transform;
    transition-duration: 0.25s;
    cursor: pointer;
}

.serverCard:hover {
    box-shadow: 0px 1px 6px rgb(0, 0, 0);
    transform: translateY(-2px);
}

.cardImgContainer {
    height: 160px;
    width: 100%;
}

.cardImg {
    height: 143px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.cardDescriptiveText {
    color: #9ca3af;
    font-size: 12px;
}

.cardTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 47%;
    padding-left: 10px;
    padding-right: 10px;
}
