.container {
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
}

.friend_label {
    font-size: .8rem;
    color: #b9bbbe;
    margin-top: 2vh;
    margin-left: 1vw;
    font-weight: 500;
}

.friends_container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* border: 3px solid blue; */
}

.friend_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 2vh; */
    border-top: 1px solid #42464d;
    /* padding: 2vh; */
    padding: 2vh;
    /* height: 100%; */
    /* border: 3px solid orange; */
}

.friend_card:hover {
    background-color: #40444b;
}

.left_half {
    display: flex;
}

.friend {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
}

.username {
    color: #ffffff;
    font-weight: 600;
}

.status {
    color: #b0b2b7;
}

.right_half {
    display: flex;
}

.message_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42464d;
    width: 1.7vw;
    height: 3.5vh;
    border-radius: 50%;
    margin-right: 1vw;
}

.message_icon_container:hover{
    cursor: pointer;
}

.message_icon{
    padding: .5vh;
    width: 1.2vw;
}

.no_friends {
    text-align: center;
}


