.landing {
  overflow-y: scroll;
}

.login_button {
  position: relative;
  top: 75%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  color: white;
  border: none;
  background-color: #23272a;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.login_button:hover {
  cursor: pointer;
  background-color: #36393f;
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.body0 {
  width: 100%;
  height: 31rem;
  background-color: #404eed;
  position: relative;
  display: flex;
  justify-content: center;
}

.body0 > * {
  position: absolute;
  max-width: 135%;
  height: auto;
  bottom: 0;
}

.right {
  margin-left: 70rem;
  height: 55%;
  width: auto;
}

.left {
  margin-right: 70rem;
  height: 55%;
  width: auto;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.text2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
