.login_button {
  background-color: #23272a;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17vw;
  margin-bottom: 5vh;
  cursor: pointer;
  /* border: 3px solid red; */
}

.login_button:hover {
  cursor: pointer;
  /* border: 3px solid red; */
  background-color: #36393f;
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.body0 {
  width: 100%;
  height: 31rem;
  background-color: #404eed;
  position: relative;
  display: flex;
  justify-content: center;
}

.body0 > * {
  position: absolute;
  max-width: 135%;
  height: auto;
  bottom: 0;
}

.right {
  margin-left: 70rem;
  height: 55%;
  width: auto;
}

.left {
  margin-right: 70rem;
  height: 55%;
  width: auto;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.text2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 5;
  width: 40vw;
}

.extra_pics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.card1_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 70vh;
}

.card1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 65vw;
}

.card1_text {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 35vh;
  justify-content: space-evenly;
}

.card1_text_upper {
  color: #23272a;
  font-weight: 800;
  font-size: 2.25rem;
}

.card1_text_lower {
  color: #424a50;
  font-size: 1.15rem;
  word-spacing: 0.25vw;
}

.card2_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 70vh;
  background-color: #f6f6f6;
}

.card3_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 95vh;
  background-color: #f6f6f6;
}

.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
}

.card3_text {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 15vh;
  justify-content: space-evenly;
  align-items: center;
}

.card3_text_upper {
  color: #23272a;
  font-weight: 800;
  font-size: 2.5rem;
}

.card3_text_lower {
  text-align: center;
  color: #424a50;
  font-size: 1.15rem;
  word-spacing: 0.15vw;
}

.footer {
  background-color: #23272a;
  /* border: 3px solid red; */
  height: 30vh;
  display: flex;
  justify-content: center;
}

.footer_content_container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1vw;
  margin: 4vw;
  /* border: 3px solid blue; */
  height: 20vh;
  width: 60vw;
  border-bottom: 1px solid #5865f2;
}

.footer_card1 {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
}

.footer_title {
  color: #5865f2;
  font-weight: 800;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  /* border: 3px solid yellow; */
  width: 15vw;
}

.names {
  color: #4c5bbe;
  font-size: 1.15rem;
  font-weight: 600;
}

.footer_card {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.links {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.25vw;
}

.link_container {
  display: flex;
  align-items: center;
  gap: 0.25vw;
}
