.container {
  display: flex;
  /* border: 3px solid yellow; */
  margin: 2vw;
  width: 100%;
}

.left_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  /* border: 3px solid red; */
}

.left_top {
  font-size: 1.2rem;
  font-weight: 500;
  /* height: 10%; */
  margin-bottom: 2vh;
}

.account_card {
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  height: 90%;
  border-radius: 0.5vw;
}

.top_banner {
  background-color: #c58dc5;
  /* border: 3px solid yellow; */
  height: 2rem;
  border-radius: 0.5vw 0.5vw 0 0;
}

.bottom_half {
  display: flex;
  flex-direction: column;
  background-color: #202225;
  border-radius: 0 0 0.5vw 0.5vw;
}

.logout_btn {
  margin-right: 2vw;
}

.bot_top {
  position: relative;
}

.icon_container {
  border-radius: 50%;
  margin-right: 0.4vw;
  z-index: 2;
  position: absolute;
  bottom: -4vh;
  margin-left: 1vw;
}

.icon {
  border: 7px solid #202225;
  width: 3.5vw;
  border-radius: 50%;
}

.user_lg {
  display: flex;
  margin-left: 5.5vw;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 1.5vh;
}

.username {
  font-size: 1.15rem;
}

.bot_bot {
  /* border: 3px solid orange; */
  margin-top: 4vh;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vh;
  border-radius: 0.4vw;
  background-color: #2f3136;
}

.user_info_container {
  margin: 0.75vw;
}

.username_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}

.name_label {
  font-size: 0.72rem;
  color: #b9bbbe;
  margin-bottom: 0.75vh;
}

.name {
  font-size: 0.85rem;
  color: #ffffff;
}

.right_container {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin-left: 2vw;
}

.exit_btn {
  color: rgba(185, 187, 190, 0.8);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.escape_container {
  display: flex;
  /* border: 3px solid red; */
  justify-content: center;
}

.escape {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}
