/* TODO Add site wide styles */

body {
    margin: 0;
    padding: 0;
    color: #fcfcff;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}

.errors {
    color: #F38688;
    margin-top: 10px;
    margin-bottom: -5px;
}

/* #main-div {
    display: grid;
    grid-template-areas:
    "server-list channel-list header header",
    "server-list channel-list message-view members-list",
    "server-list user-hub, message-view, members-list"
    ;
    border: 3px solid teal;
} */

#main-div {
    display: grid;
    grid-template-columns: 4% 0.5fr 2.4fr 0.6fr;
    grid-template-rows: 0.15fr 2.8fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 100vh;
  }

#server-list {
    grid-area: 1 / 1 / 4 / 2;
    /* border: 3px solid red; */
    background-color: #202225;
}

.channel-list {
    grid-area: 1 / 2 / 4 / 3;
    /* border: 3px solid blue; */
    background-color: #2f3136;
}

#header {
    grid-area: 1 / 3 / 2 / 5;
    /* border: 3px solid yellow; */
    background-color: #36393f;
    position: sticky;
    border-bottom: .5px solid #2a2d31;
    /* z-index: 1; */
    box-shadow: 0px 1px #2a2d31 ;
}

.message-view {
    grid-area: 2 / 3 / 4 / 4;
    /* border: 3px solid green; */
    background-color: #36393f;
}

.member-list {
    grid-area: 2 / 4 / 4 / 5;
    /* border: 3px solid orange;  */
    background-color: #2f3136;
}

#user-hub {
    grid-area: 3 / 2 / 4 / 3;
    /* border: 3px solid purple;  */
    background-color: #292b2f;
    z-index: 1;
}


/* #server-list {
    grid-area: server-list;
    border: 3px solid green;
}

#user-hub {
    grid-area: user-hub;
    border: 3px solid red;
}

#header {
    grid-area: header;
    border: 3px solid blue;
}

.channel-list {
    grid-area: channel-list;
    border: 3px solid orange;
}

.message-view {
    grid-area: message-view;
    border: 3px solid yellow;
}

.member-list {
    grid-area: member-list;
    border: 3px solid violet;
}

#users-view {
    grid-area: member-list;
    border: 3px solid purple;
}; */
